:root {
    --custom-green: #3ec795;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.title {
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
    margin-top: 5px;
}

.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.table-title {
    font-weight: bold;
    padding: 5px;
}

.leaderboard, .too-early {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reaction-table {
  border-collapse: collapse;
  width: 100%;
}

.reaction-table td, .reaction-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.reaction-table tr:nth-child(even){background-color: #f2f2f2;}

.reaction-table tr:hover {background-color: #ddd;}

.reaction-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--custom-green);
  color: white;
}

#too-early-table th {
    background-color: rgb(173, 76, 11);
}

#trigger {
    visibility: hidden;
    background-color: var(--custom-green);
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;

    /* animation: blinky 100ms linear infinite; */
}

@keyframes blinky {
    50% {
        opacity: 0;
    }
}