:root {
  --black-night: #0a090c;
  --green-celadon: #94e8b4;
  --red-murrey: #d37ba8;
  --blue-steel: #3f7cac;
  --yellow-apricot: #f7c4a5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.rounded {
  border-radius: 10px;
}

.title {
  font-size: 2em;
  font-weight: bold;
  padding: 20px;
  margin-top: 5px;
}

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button {
  background-color: var(--black-night);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  min-width: 400px;
}

.button:hover {
  background-color: lightgray;
  color: var(--black-night);
}

.table-title {
  font-weight: bold;
  padding: 5px;
}

.leaderboard,
.too-early,
.disqualified {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reaction-table-wrapper {
  min-width: 400px;
}

.reaction-table {
  width: 100%;
}

.reaction-table td,
.reaction-table th {
  padding: 8px;
}

.reaction-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.reaction-table tr:hover {
  background-color: #ddd;
}

.reaction-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--green-celadon);
  color: var(--black-night);
}

#too-early-table th {
  background-color: var(--red-murrey);
}

#disqualified-table th {
  background-color: var(--red-murrey);
}

#trigger {
  visibility: hidden;
  background-color: var(--yellow-apricot);
  width: 160px;
  height: 160px;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;

  /* animation: blinky 100ms linear infinite; */
}

@keyframes blinky {
  50% {
    opacity: 0;
  }
}

/* Copyright https://unused-css.com/blog/css-rounded-table-corners/ */
table.rounded-corners {
  /* Change these properties */
  --border: 1px solid black;
  border-radius: 10px;

  /* Don't change these properties */
  border-spacing: 0;
  border-collapse: separate;
  border: var(--border);
  overflow: hidden;
}

/* Apply a border to the right of all but the last column */
table.rounded-corners th:not(:last-child),
table.rounded-corners td:not(:last-child) {
  border-right: var(--border);
}

/* Apply a border to the bottom of all but the last row */
table.rounded-corners > thead > tr:not(:last-child) > th,
table.rounded-corners > thead > tr:not(:last-child) > td,
table.rounded-corners > tbody > tr:not(:last-child) > th,
table.rounded-corners > tbody > tr:not(:last-child) > td,
table.rounded-corners > tfoot > tr:not(:last-child) > th,
table.rounded-corners > tfoot > tr:not(:last-child) > td,
table.rounded-corners > tr:not(:last-child) > td,
table.rounded-corners > tr:not(:last-child) > th,
table.rounded-corners > thead:not(:last-child),
table.rounded-corners > tbody:not(:last-child),
table.rounded-corners > tfoot:not(:last-child) {
  border-bottom: var(--border);
}
